<div class="formContainer" >
  <form class="form-horizontal newsletterForm" role="form"
	action="/api/attraction" method="POST">
    <div>
      <label>name</label>
      <div>
	<input type="text" name="name">
      </div>
    </div>

    <div>
      <label>description</label>
      <div>
	<input type="text" name="description">
      </div>
    </div>

    <div>
      <label>lng</label>
      <div>
	<input type="text" name="lng">
      </div>
    </div>
    
    <div>
      <label>lat</label>
      <div>
	<input type="text" name="lat">
      </div>
    </div>

    <div>
      <label>email</label>
      <div>
	<input type="text" name="email">
      </div>
    </div>
    
    <div>
      <div>
	<button type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
