<div class="formContainer" >
  <form class="form-horizontal newsletterForm" role="form"
	action="/pro?form=newletter" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div>
      <label>name</label>
      <div>
	<input type="text" name="name">
      </div>
    </div>
    <div>
      <div>
	<button type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
